@media screen and (min-width: 320px){
    .header{
        width: 282px;
    }
}
@media screen and (min-width: 650px){
    .header{
        width: 581px;
    }
}
@media screen and (min-width: 980px){
    .header{
        width: 880px;
    }
}